/* -------------------------------------------------- */
/* BLOCKQUOTE
/* -------------------------------------------------- */    

.blockquote {

	@include gutter;
	position: relative;
	margin: {
		top: 2rem;
		bottom: 2rem;
	}
	padding-right: 0;
	width: 100%;
	border-left: 1px solid $primary;

	&::before {

		@include icon($type: 'solid', $icon: f10d);
		z-index: -1;
		opacity: 0.2;
		position: absolute;
		top: 0;
		left: 10px;
		color: $primary;
		font-size: 2em;
		transform: translate(-10%, 0);

		@include break($min: 0, $max: $mobile, $orientation: 'both') {
			font-size: 1em;
		}

	}

	p {

		margin: 0;
		padding-left: 1.5rem;
		color: lighten($primary, 10%);

		@include break($min: 0, $max: $mobile, $orientation: 'both') {
			padding-left: 0.5rem;
		}

	}

	footer {

		padding-left: 3rem;
		line-height: 0.75em;

		cite {

			color: $dark-gray;
			font: $subheadline;
			font-size: 0.6em;
			letter-spacing: 0.125em;

			.blockquote {

				&-author {
					display: inline-block;
					position: relative;
					margin: {
						left: 0;
						right: 0.25rem;
					};
					color: $dark-gray;
				}

				&-company {
					display: inline-block;
					position: relative;
					margin: {
						left: 0.25rem;
						right: 0;
					};
					color: $gray;
				}

			}

		}

		@include break($min: 0, $max: $mobile, $orientation: '') {
			padding-left: 0;
		}

	}

	@include break($min: 0, $max: $mobile, $orientation: 'both') {

		padding: {
			top: 0;
			right: 0;
			bottom: 0;
		};

	}

}
