/* -------------------------------------------------- */
/* FOOTER
/* -------------------------------------------------- */

.contact {

	@include gutter;
	padding-top: 4rem !important;

	h1 {

	}

	&-info-address {

		.cell {

			&:not(:last-child) {
				margin-bottom: 2rem;
				padding-bottom: 5rem;
				border-bottom: 1px solid $gray;
			}

			.business-title {
				margin-bottom: 0 !important;
				color: $primary;
			}

			a {
				display: block;
			}

			.business-phone,
			.business-location {
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: -1.25em;
					color: $primary;
				}
				display: block;
				position: relative;
				margin-bottom: 2rem;
				text-transform: none;
			}

			.business-phone {

				margin-bottom: 0;

				&::before {
					@include icon($type: 'solid', $icon: 'f3cd');
				}

			}

			.business-location {

				&::before {
					@include icon($type: 'solid', $icon: 'f3c5');
				}

			}

			.business-map {

				img {
					border-radius: 5px;
					border: 1px solid $gray;
				}

			}

		}

	}

}