/* -------------------------------------------------- */
/* LIST
/* -------------------------------------------------- */

.content {

	h1 {
		//margin: 1rem auto;
		width: 100%;
		//text-align: center;
	}

}

ul {
	list-style: none;
}

.list {

	li {

		position: relative;
		margin-left: 1rem;
		margin-bottom: 0.25rem;
		padding: {
			left: 1rem;
		}
		color: darken($gray, 5%);

		&:last-child {
			margin-bottom: 2rem;
		}

	}


	/*
	&.expand {

		div {

			ul {
				flex: 1 100%;
			}

		}

	}
	*/

	div {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: center;
		align-self: stretch;
		width: auto;
		//height: 100%;
		//border: 1px solid $gray;

		.img {
			display: none !important;
		}

		ul {

			@include gutter;
			flex: 1 50%;
			padding-bottom: 2rem;
			border-bottom: 1px dotted lighten($primary, 35%);

			&.expand {
				flex: 1 100%;
			}

			&.shrink {
				flex: 0;
			}

			li {

				cursor: default;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: stretch;
				justify-content: flex-start;
				position: relative;
				padding: 1rem 0.5rem;
				//margin-bottom: 0.75rem;
				color: $charcoal;
				line-height: 1em;
				background: rgba($accent, 0);
				transition: all 250ms ease-in-out;

				h2 {

					position: relative;
					margin: {
						top: 0 !important;
						//bottom: 0 !important;
					}
					color: $primary;
					font-size: 1.5em;
					line-height: 1em;

					&::before {
						content: '';
						position: absolute;
						top: 5px;
						margin-left: -15px;
						width: 8px;
						height: 8px;
						background: darken($accent, 12%);

					}

				}

				&:first-child {
					//padding: 0;
				}

				&:last-child {
					//margin-bottom: 4rem;
				}

				&:not(:first-child):nth-child(even) {
					background: lighten($accent, 12%);
				}

				&:not(:first-child):not(:last-child) {
					//border-bottom: 1px solid lighten($gray, 15%);
				}

				&:not(:first-child):hover {

					color: $dark-gray;
					border-color: $white;
					background: rgba($accent, 1);

					span:nth-of-type(1)::before {
						border-color: $white;
						background: $white;
					}

				}

				span {

					flex: 1;
					position: relative;

					&::before,
					&::after {
						content: '';
						position: absolute;
						transition: all 250ms ease-in-out;
					}

					@include break($min: 0, $max: $mobile, $orientation: 'portrait') {
						left: 0;
						right: 0;
					}

				}

				span:nth-of-type(1) {

					left: 1rem;
					text-align: left;

					&::before {
						top: 4px;
						left: -12px;
						width: 6px;
						height: 6px;
						border: 2px solid darken($accent, 5%);
						background: rgba($accent, 0);
					}

				}

				span:nth-of-type(2) {

					right: 1rem;
					color: $dark-gray;
					text-align: right;

					&:not(.no-add)::after {
						@include icon($type: 'solid', $icon: 'f067');
						top: 0;
						right: -12px;
						font-size: 0.5em;
					}

				}

				@include break($min: 0, $max: $mobile, $orientation: 'portrait') {
					padding: {
						left: 0;
						right: 0;
					};
				}

			}

			@include break($min: $tablet, $max: $laptop, $orientation: 'portrait') {
				flex: 1 100%;
			}

			@include break($min: $mobile, $max: $tablet, $orientation: 'both') {
				flex: 1 100%;
			}

			@include break($min: 0, $max: $mobile, $orientation: 'portrait') {
				flex: 1 100%;
			}

		}

		@include break($min: 0, $max: $mobile, $orientation: 'both') {
			width: 100%;
		}

	}

}

.list2 {

	@include gutter;
	flex: 1 50%;
	padding-bottom: 2rem;
	border-bottom: 1px dotted lighten($primary, 35%);

	&.flex-self-expand {
		flex: 1 100%;
	}

	li {

		display: flex;
		align-items: stretch;
		justify-content: center;
		margin-bottom: 3rem;
		color: $charcoal;

		div {

			position: relative;
			flex: 1;

			&:nth-of-type(1) {

				text-align: left;

				&:not(.no-add)::after {
					display: none;
				}

				/*
				&::before {
					content: '';
					position: absolute;
					top: 2px;
					margin-left: -15px;
					width: 8px;
					height: 8px;
					background: darken($accent, 12%);
				}
				*/

				span {

					font-size: 0.9em;
					line-height: 1.25em;

					&:nth-of-type(1) {
						color: $primary;
						text-transform: uppercase;
						
					}

					&:nth-of-type(2) {
						color: lighten($dark-gray, 35%);
					}

				}

			}

			&:nth-of-type(2) {

				text-align: right;

				&:not(.no-add)::after {
					@include icon($type: 'solid', $icon: 'f067');
					position: absolute;
					top: 6px;
					margin-left: 0.25rem;
					font-size: 0.5em;
				}

			}

		}

	}


}


.list3 {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	margin: {
		top: 2rem;
		bottom: 2rem;
		left: 1rem;
	}

	li {

		flex: 1 50%;
		position: relative;
		margin-bottom: 0.5rem;
		padding: {
			left: 1rem;
		}
		color: lighten($charcoal, 10%);
		//line-height: 1em;


		&::before {
			content: '';
			position: absolute;
			top: 7px;
			margin-left: -12px;
			width: 6px;
			height: 6px;
			border: 2px solid darken($accent, 10%);
			background: darken($accent, 12%);
		}


		@include break($min: 0, $max: $mobile, $orientation: 'portrait') {
			flex: 1 100%;
		}

	}

}

.extra {
	margin: {
		top: 1rem;
		bottom: 1rem;
	};
	width: 100%;
	color: $dark-gray;
	font-size: 0.9em;
}

